@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    background-color: rgb(73, 69, 69);
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: azure;
    padding: 10px;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-right: 0px;
}

.nav-links li {
    padding: 5px;
    margin: 0px 15px;
}

.nav-links a {
    text-decoration: none;
    color: azure;
    font-weight: normal;
}

.nav-links a:hover {
    text-decoration: none;
    color: white;
    background-color: blue;
}

.nav-links button {
    font-size: 1.1rem;
    color: azure;
    background-color: rgb(47, 175, 197);
    border: 3px solid black;
    box-shadow: 5px 5px black;
    padding: 5px 15px;
}

.nav-links .active {
    color: azure;
    font-weight: bold;
}